/**
 * Theme
 */

::selection {
	background-color: rgba(66, 14, 80, 0.85);
	color: $white;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: var(--font-size);
	background-color: $white;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	box-sizing: border-box;
}

body {
	font-size: 1em;
	line-height: var(--line-height);
	letter-spacing: 0.01em;
	word-spacing: 0.05em;
	font-family: var(--font-family);
	color: var(--body-color);
	overflow-x: hidden;
}

hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	margin: 1.3rem auto;
}

img {
	max-width: 100%;
	height: auto;
}

#main {
	position: absolute;
	overflow-x: hidden;
	width: 100%;
	min-height: 100%;
	background-image: linear-gradient(to top left, #230c29, #270d2d);
}

.container {
	max-width: var(--container-width);
	margin: 0 auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

.row {
	display: flex;
	justify-content: space-between;
	margin-left: -$grid__spacing;
	margin-right: -$grid__spacing;
}

.col {
	min-height: 1em;
	margin-left: $grid__spacing;
	margin-right: $grid__spacing;
}

.content {
	background: $white;
	padding-top: 0.5em;
	padding-bottom: 2em;
	margin-top: var(--content-margin);
	margin-bottom: var(--content-margin);
	opacity: 0;
	transform: scale(2);
	transform-origin: top;

	&.is-active {
		opacity: 1;
		transform: scale(1);
		transition: 0.5s;
	}

	&.is-active.no-transition {
		transition: none;
	}
}

table {
	border-collapse: collapse;
	font-size: 0.9em;
}

tr:nth-child(even) {
	background-color: #f0f0f0;
}

td {
	border: 1px solid #ccc;
	padding: 10px;
}

figure {
	margin: auto;
}

p {
	margin: 1em 0;
}

/**
 * Links
 */
a,
a:link,
a:visited {
	outline: none;
	text-decoration: underline;
	color: var(--link-color);
	cursor: pointer;
}

a:hover,
a:focus,
a:active {
	opacity: 0.7;
}

a:focus,
a:active {
	border-bottom: 1px solid;
}


/**
 * Link List
 */

.link-list {

	a {
		display: block;
	}
}
