/**
 * Style: Resume - Experience
 */

.resume-education {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.06);
	padding: 1.2em 1em 1em;
	margin-bottom: 1.3em;
}

.resume-education__title {
	--heading-color: #4b1d96;
	margin: 0;
}

.resume-education__info {
	margin-top: 0.2em;
	margin-bottom: 0;
	font-size: 0.75em;
	font-weight: 300;
	-webkit-font-smoothing: initial;
}

.resume-education__logo {
	width: 60px;
	height: 60px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}
