/**
 * Style: Resume - Experience
 */

.resume-experience {
	display: flex;
	background-color: rgba(0, 0, 0, 0.06);
	padding: 1.2em 1em 1em;
	margin-bottom: 1.3em;
}

@media (max-width: 768px) {

	.resume-experience {
		flex-direction: column;
	}
}

.resume-experience__title {
	--heading-color: #4b1d96;
	margin: 0;
}

.resume-experience__info {
	margin-top: 0.2em;
	margin-bottom: 0;
	font-size: 0.75em;
	font-weight: 300;
	-webkit-font-smoothing: initial;
}

.resume-experience__date {
	line-height: 1.3;
	width: 115px;
}
